body {
    background-color:#A4A1AD;
}

.Rectanglev {
    background: linear-gradient(green, lightgreen);
    width: 1400px;
    height: 150px;
    border-radius: 20px;
    align-items: center;
    
}

.Info {
    background-color:  lightgreen;
    width: 300px;
    height: 300px;
    border-radius: 20px;

}